<div class="row" *ngIf="hasInvoiceData">
    <div class="column medium-7" >
        <invoicePaymentPreview [invoices]="invoiceData"></invoicePaymentPreview>
    </div>
    <div class="column medium-1"></div>
    <div class="column medium-3">
        <div class="saveDraft pointer">Save as Draft</div>
        <div class="saveDraft pointer" (click)="navigateToDashborad()">Close Preview</div>
        <h5>Apply Payment</h5>
        <div class="row applyPayment">
            <div class="medium-6">
                <label>Reference Number
                    <input type="text" placeholder="Title*" [(ngModel)]="applyObject.reference_number"/>
                </label>
            </div>
            <div class="column medium-6">
                <label>
                    Invoice Date*
                    <input type="text" [(ngModel)]="applyObject.invoice_date" invoice-custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'"  placeholder="Invoice Date*"/>
                </label>
            </div>
        </div>`
        <div class="row">
            <div class="medium-6">
                <label>Add Payment Method
                    <select data-placeholder="Select" (change)="setPaymentMethod($event)">
                        <option *ngFor="let paymentOption of paymentOptions" [value]="paymentOption.value">{{paymentOption.name}}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <label>Amount
                <input type="text" [(ngModel)]="applyObject.amount" numeral [locale]="invoiceData.currency" [format]="'$0,0.00'"/>
            </label>
        </div>
        <button class="button create medium" type="submit" (click)="applyPayment()">Apply Payment</button>
    </div>
    <div class="column medium-1"></div>

</div>