<div class="row" *ngIf="hasInvoiceData">
    <div class="column medium-7" >
        <invoicePaymentPreview [invoices]="invoiceData"></invoicePaymentPreview>
    </div>
    <div class="column medium-1"></div>
    <div class="column medium-3">
        <div class="saveDraft pointer">Save as Draft</div>
        <div class="saveDraft pointer" (click)="navigateToDashborad()">Close Preview</div>
        <h5>Apply Payment</h5>
        <div class="row applyPayment">
            <div class="column medium-6" style="padding-left: 0">
                <label>Reference Number
                    <input type="text" placeholder="Title*" [(ngModel)]="applyObject.reference_number"/>
                </label>
            </div>
            <div class="column medium-6" style="padding-right: 0">
                <label>
                    Bank Account*
                    <select combo-box #accountComboBoxDir="comboBox" data-placeholder="Select Account" [listObject]="accounts" [(ngModel)]="applyObject.invoice_date" (valueChanged)="setBankAccount($event)">
                        <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row applyPayment">
            <div class="column medium-6" style="padding-left: 0">
                <label>
                    Payment Date*
                    <input type="text" [(ngModel)]="applyObject.payment_date" invoice-custom-datepicker [format]="'MM/DD/YYYY'" [mindate]="'past'" (valueChanged)="setDate($event)"  placeholder="Payment Date*"/>
                </label>
            </div>
            <div class="column  medium-6" style="padding-right: 0">
                <label>Payment Method*
                    <select data-placeholder="Select" (change)="setPaymentMethod($event)">
                        <option *ngFor="let paymentOption of paymentOptions" [value]="paymentOption.value">{{paymentOption.name}}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row applyPayment">
            <div class="column medium-6" style="padding-left: 0">
                <label>Amount*
                    <input type="text" [(ngModel)]="applyObject.amount" numeral [locale]="invoiceData.currency" [format]="'$0,0.00'"/>
                </label>
            </div>
        </div>
        <button class="button create medium" type="submit" (click)="applyPayment()">Apply Payment</button>
    </div>

</div>