<style>
    .paymentPreview {
        -webkit-box-shadow: 0 0 5px #ccc;
        box-shadow: 0 0 5px #ccc;
        margin:5px 0;
    }

    .from-address {
        padding:50px 0 30px 0;
    }

    table{
        border-top:5px solid #808cc5;
        margin:50px 0;
    }

    tbody {
        border: none;
    }

    tr {
        border:none;
    }

    tr td {
        color: #0a0a0a;
    }

    tr td:first-child{
        padding-left:0;
    }
    tr td:last-child {
        text-align: right;
        padding-right:0;
    }

    .heading-color td{
        color: #808CC5;
    }

    .heading-color {
        color: #808CC5;
    }

    .separator {
        border-top:1px solid #808cc5;
        padding:0;
    }

    .emptyCol{
        padding:0;
    }

</style>

<div class="paymentPreview" id="paymentsPreview" *ngIf="hasInvoiceData">
    <div class="row from-address">
        <div class="column medium-12">
            <div class="heading-color">Invoice From</div>
            <div>Qwerty Software company</div>
            <div>51 Rainey Street</div>
            <div>#2209</div>
            <div><span>Austin</span><span>,</span><span>TX 78701</span></div>
        </div>
    </div>
    <div class="row">
        <div class="column medium-3 to-address">
            <div class="heading-color">Prepared For</div>
            <div>Qwerty Software company</div>
            <div>51 Rainey Street</div>
            <div>#2209</div>
            <div><span>Austin</span><span>,</span><span>TX 78701</span></div>
        </div>
        <div class="column medium-3">
            <div class="heading-color">Invoice Date</div>
            <div>{{invoiceData.invoice_date}}</div>
        </div>
        <div class="column medium-3">
            <div class="heading-color">Invoice Number</div>
            <div>{{invoiceData.number}}</div>
        </div>
        <div class="column medium-3">
            <div class="heading-color"><span>Invoice Total</span><span>({{invoiceData.currency}})</span></div>
            <div>{{invoiceData.amount | currency:invoiceData.currency:true:'1.2-2'}}</div>
        </div>
    </div>
    <div class="row">
        <div class="column medium-12">
            <table>
                <tbody>
                <tr class="heading-color">
                    <td>Item</td>
                    <td>Description</td>
                    <td></td>
                    <td>Rate</td>
                    <td>Hours</td>
                    <td>Line Total</td>
                </tr>
                <tr *ngFor="let task of taskInvoices">
                    <td>{{task.item.name}}</td>
                    <td>{{task.description}}</td>
                    <td></td>
                    <td>{{task.price | currency:invoiceData.currency:true:'1.2-2'}}</td>
                    <td>{{task.quantity}}</td>
                    <td>{{task.amount | currency:invoiceData.currency:true:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td colspan="6" class="separator"></td>
                </tr>

                <tr class="heading-color">
                    <td>Item</td>
                    <td>Description</td>
                    <td></td>
                    <td>Unit Cost</td>
                    <td>Quantity</td>
                    <td>Line Total</td>
                </tr>
                <tr *ngFor="let item of itemInvoices">
                    <td>{{item.item.name}}</td>
                    <td>{{item.description}}</td>
                    <td></td>
                    <td>{{item.price | currency:invoiceData.currency:true:'1.2-2'}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.amount | currency:invoiceData.currency:true:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="emptyCol"></td>
                    <td colspan="4" class="separator"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>Subtotal</td>
                    <td colspan="2"></td>
                    <td>{{invoiceData.sub_totoal | currency:invoiceData.currency:true:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="emptyCol"></td>
                    <td>Tax</td>
                    <td colspan="2" class="emptyCol"></td>
                    <td>{{invoiceData.tax | currency:invoiceData.currency:true:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="emptyCol"></td>
                    <td colspan="4" class="separator"></td>
                </tr>
                <tr class="heading-color">
                    <td colspan="2" class="emptyCol"></td>
                    <td>Total</td>
                    <td colspan="2" class="emptyCol"></td>
                    <td>{{invoiceData.amount | currency:invoiceData.currency:true:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="emptyCol"></td>
                    <td colspan="4" class="separator"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="column medium-6">
            <div class="heading-color">Payment Terms</div>
            <div>Payment is due with in 30 days of receiving this invoice</div>
        </div>
        <div class="column medium-6">
            <div class="heading-color">Notes</div>
            <div>{{invoiceData.notes}}</div>
        </div>
    </div>
    <div class="row">
        <div class="column medium-12">
            <div class="heading-color">Payment Terms</div>
            <div>Payment is due with in 30 days of receiving this invoice</div>
        </div>
    </div>
</div>
