<div>
    <div class="tab-container books-tab-container" foundation *ngIf="!showDetailedChart">
        <div class="row">
            <div class="column medium-9 resetPaddings">
                <div class="row tabber ">
                    <div class="column medium-1 tab dashboard-exist" (click)="reRoutePage(0)" [ngClass]="{'selected': tabDisplay[0].display == 'block'}">
                        <label [ngClass]="{'whiteColor': tabDisplay[0].display == 'block'}">
                            <span><i class="icon ion-ios-keypad"></i></span>
                        </label>
                    </div>
                    <div class="column medium-3 tab" (click)="reRoutePage(1)" [ngClass]="{'selected': tabDisplay[1].display == 'block'}">
                        <label [ngClass]="{'whiteColor': tabDisplay[1].display == 'block'}"><span>Proposals</span>
                            <span>({{badges.proposal_count ? badges.proposal_count : localBadges ? localBadges.proposal_count: 0 }})</span>
                        </label>
                    </div>
                    <div class="column medium-3 tab" (click)="reRoutePage(2)" [ngClass]="{'selected': tabDisplay[2].display == 'block'}">
                        <label [ngClass]="{'whiteColor': tabDisplay[2].display == 'block'}"><span>Invoices</span>
                            <span>({{badges.invoice_count ? badges.invoice_count : localBadges ? localBadges.invoice_count: 0 }})</span>
                        </label>
                    </div>
                    <div class="column medium-3 tab" (click)="reRoutePage(3)" [ngClass]="{'selected': tabDisplay[3].display == 'block'}">
                        <label [ngClass]="{'whiteColor': tabDisplay[3].display == 'block'}"><span>Payments</span>
                            <span>({{badges.payment_count ? badges.payment_count : localBadges ? localBadges.payment_count: 0 }})</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="columns medium-3 resetPaddings">
                <div class="row add-share-buttons">
                    <div class="column medium-12 text-right">
                        <span class="pointer" *ngIf="tabDisplay[1].display == 'block'" (click)="addNewProposal()">
                          <i class=" icon ion-ios-plus-outline"></i>
                          <span>Proposal</span>
                        </span>
                        <span class="pointer" *ngIf="tabDisplay[2].display == 'block'" (click)="addNewInvoice()">
                          <i class=" icon ion-ios-plus-outline"></i>
                          <span>Invoice</span>
                        </span>
                        <span class="pointer" *ngIf="tabDisplay[3].display == 'block'" (click)="addNewPayment()">
                          <i class=" icon ion-ios-plus-outline"></i>
                          <span>Payment</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row collapse tab-content ">
            <div *ngIf="tabDisplay[0].display == 'block'" class="column small-12 medium-12 large-12 dashboard" id="dashboard">
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="payment-dashboard" *ngIf="!showDetailedChart">
                            <div class="row expanded" foundation>
                                <div class="column medium-12">
                                    <div class="row report-stats word-wrap text-center" *ngIf="hasBoxData">
                                        <div class="column medium-3 small-12" style="padding-left:0;">
                                            <div class="row">
                                                <div class="column medium-6 pointer report-stats-padding" style="background-color: #05807C">
                                                    <div>Receivables</div>
                                                    <div>{{metrics.totalReceivable}}</div>
                                                </div>
                                                <div class="column medium-6 pointer" style="background-color: #F06459">
                                                    <div>Past Due</div>
                                                    <div>{{metrics.totalPastDue}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column medium-2 small-12 pointer report-stats-padding" style="background: #87D0CE;">
                                            <div>Avg. Receivable Days</div>
                                            <div class="dashboard-box-padding">{{metrics.avgReceivableDays}}</div>
                                        </div>
                                        <div class="column medium-3 small-12">
                                            <div class="row">
                                                <div class="column medium-6 pointer report-stats-padding" style="background: #05807C;">
                                                    <div>Opened</div>
                                                    <div>{{metrics.openedInvoices}}</div>
                                                </div>
                                                <div class="column medium-6 pointer" style="background: #00B1A6;">
                                                    <div>Sent</div>
                                                    <div>{{metrics.sentInvoices}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column medium-2 small-12">
                                            <div class="row">
                                                <div class="column medium-12 pointer report-stats-padding" style="background: #87D0CE;">
                                                    <div>Recvd. in 30 days</div>
                                                    <div>{{metrics.totalReceivedLast30Days}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column medium-2 small-12">
                                            <div class="row">
                                                <div class="column medium-12 pointer report-stats-padding" style="background: #05807C;">
                                                    <div>Cash Balance</div>
                                                    <div>{{metrics.cashBalance}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row expanded books-dashboard-top-charts">
                                <div class="column medium-6 expanded charts-main" style="border-right:1px solid #e1e1e1;">
                                    <div *ngIf="hasTotalReceivableData" style="min-width: 300px;height:400px;">
                                        <high-chart #hChart2=highChart [options]="groupedTotalReceivablesChartOptions"></high-chart>
                                    </div>
                                </div>
                                <div class="column medium-6 expanded charts-main">
                                    <div *ngIf="hasAgingByCustomerData" style="min-width: 300px;height:400px;">
                                        <high-chart #hChart2=highChart [options]="agingByCustomer"></high-chart>
                                    </div>
                                </div>
                            </div>
                            <div class="row chart-margin">
                                <div class="column medium-6 detailed-chart-icons">
                                    <span class="text-right float-right" (click)="showOtherCharts('totalReceivablesChart')"><i class="icon ion-arrow-expand" [ngClass]="detailedChartIcons"></i></span>
                                </div>
                                <div class="column medium-6 detailed-chart-icons">
                                    <span class="text-right float-right" (click)="showOtherCharts('agingByCustomer')"><i class="icon ion-arrow-expand" [ngClass]="detailedChartIcons"></i></span>
                                </div>
                            </div>

                            <div class="row expanded">
                                <div class="column medium-12 expanded charts-main">
                                    <div *ngIf="hasARAgingSummaryData" style="min-width: 300px;height:400px;">
                                        <high-chart #hChart1=highChart [options]="customerAgingSummary"></high-chart>
                                    </div>
                                </div>
                            </div>
                            <div class="row chart-margin">
                                <div class="column medium-12">
                                    <span class="text-right float-right" (click)="showOtherCharts('customerAgingSummary')"><i class="icon ion-arrow-expand" [ngClass]="detailedChartIcons"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tabDisplay[1].display == 'block'" class="column small-12 medium-12 large-12 invoices" id="proposals">
                <div class="row">
                    <div class="column">
                        <div class="row add-share-buttons">
                            <div class="medium-2 small-12 invoice-dropdown" foundation [ngStyle]="{'visibility': selectedTableRows.length>0 ? 'visible':'hidden'}">
                                <button class="dropdown button" type="button" data-toggle="proposal-dropdown">Action</button>
                                <ul class="dropdown-pane" id="proposal-dropdown" data-hover="true" data-hover-pane="true" data-dropdown data-close-on-click="true">
                                    <li  class="pointer" *ngFor="let action of actions" (click)="handleInvoiceStateChange(action.value)"><span class="icon" [ngClass]="action.className"></span><span>{{action.name}}</span></li>
                                </ul>
                            </div>
                            <div class="column medium-2 selection-count" [ngStyle]="{'visibility': selectedTableRows.length>0 ? 'visible':'hidden'}"><span>{{selectedTableRows.length}}</span><span>selected</span></div>
                            <div class="column medium-6"></div>
                            <div class="column medium-2 text-right invoice-footable-doanload" *ngIf="hasProposals">
                                <i class="icon ion-ios-cloud-download-outline" data-toggle="export-dropdown"></i>
                                <div class="dropdown-pane bottom export-dropdown" id="export-dropdown" data-dropdown data-hover="true" data-hover-pane="true" foundation >
                                    <div (click)="exportToExcel('proposals')" class="export-option">Export To Excel</div>
                                    <div (click)="exportToPDF('proposals')" class="export-option">Export To PDF</div>
                                </div>
                            </div>
                        </div>
                        <foo-table class="bigpay-dashboard bighalf-footable invoice-table" *ngIf="hasProposals" [data]="proposalsTableData" [options]="proposalsTableOptions" (onRowAction)="handleProposalAction($event)" (onRowSelect)="handleSelect($event)" #proposalsTable></foo-table>
                        <div class=" callout text-center" [hidden]="isLoading" *ngIf="!hasProposals">
                            <div class="woo-woo">Woot Woot!</div>
                            <p>There are no Proposals.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tabDisplay[2].display == 'block'" class="column small-12 medium-12 large-12 invoices" id="invoices">
                <div class="row">
                    <div class="column">
                        <div class="row add-share-buttons">
                            <div class="medium-2 small-12 invoice-dropdown" foundation [ngStyle]="{'visibility': selectedTableRows.length>0 ? 'visible':'hidden'}">
                                <button class="dropdown button" type="button" data-toggle="invoice-dropdown">Action</button>
                                <ul class="dropdown-pane" id="invoice-dropdown" data-dropdown data-close-on-click="true">
                                    <li  class="pointer" *ngFor="let action of actions" (click)="handleInvoiceStateChange(action.value)"><span class="icon" [ngClass]="action.className"></span><span>{{action.name}}</span></li>
                                </ul>
                            </div>
                            <div class="column medium-2 selection-count" [ngStyle]="{'visibility': selectedTableRows.length>0 ? 'visible':'hidden'}"><span>{{selectedTableRows.length}}</span><span>selected</span></div>
                            <div class="column medium-6"></div>
                            <div class="medium-2 text-right invoice-footable-doanload" *ngIf="hasInvoices">
                                <i class="icon ion-ios-cloud-download-outline" data-toggle="export-dropdown"></i>
                                <div class="dropdown-pane bottom export-dropdown" id="export-dropdown" data-dropdown data-hover="true" data-hover-pane="true" foundation >
                                    <div (click)="exportToExcel('invoices')" class="export-option pointer">Export To Excel</div>
                                    <div (click)="exportToPDF('invoices')" class="export-option pointer">Export To PDF</div>
                                </div>
                            </div>
                        </div>
                        <foo-table class="bigpay-dashboard bighalf-footable invoice-table" *ngIf="hasInvoices" [data]="invoiceTableData" [options]="invoiceTableOptions" (onRowAction)="handleAction($event)" (onRowSelect)="handleSelect($event)" #invoicesTable></foo-table>
                        <div class=" callout text-center" [hidden]="isLoading" *ngIf="!hasInvoices">
                            <div class="woo-woo">Woot Woot!</div>
                            <p>There are no Invoices.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tabDisplay[3].display == 'block'" class="column small-12 medium-12 large-12 invoices" id="paidInvoices">
                <div class="row">
                    <div class="column">
                        <div class="row add-share-buttons">
                            <div class="medium-2 small-12 invoice-dropdown" foundation [ngStyle]="{'visibility': selectedTableRows.length>0 ? 'visible':'hidden'}">
                                <button class="dropdown button" type="button" data-toggle="payments-dropdown">Action</button>
                                <ul class="dropdown-pane" id="payments-dropdown" data-dropdown data-close-on-click="true">
                                    <li  class="pointer" *ngFor="let action of actions" (click)="showPayment()"><span class="icon" [ngClass]="action.className"></span><span>{{action.name}}</span></li>
                                </ul>
                            </div>
                            <div class="column medium-2 selection-count" [ngStyle]="{'visibility': selectedTableRows.length>0 ? 'visible':'hidden'}"><span>{{selectedTableRows.length}}</span><span>selected</span></div>
                            <div class="column medium-6"></div>
                            <div class="medium-2 text-right invoice-footable-doanload" *ngIf="hasPaidInvoices">
                                <i class="icon ion-ios-cloud-download-outline" data-toggle="export-dropdown"></i>
                                <div class="dropdown-pane bottom export-dropdown" id="export-dropdown" data-dropdown data-hover="true" data-hover-pane="true" foundation >
                                    <div (click)="exportToExcel('payments')" class="export-option pointer">Export To Excel</div>
                                    <div (click)="exportToPDF('payments')" class="export-option pointer">Export To PDF</div>
                                </div>
                            </div>
                        </div>
                        <foo-table class="bigpay-dashboard bighalf-footable invoice-table" *ngIf="hasPaidInvoices" [data]="paidInvoiceTableData" [options]="paidInvoiceTableOptions" (onRowAction)="handleAction($event)" (onRowSelect)="handleSelect($event)" #paidTable></foo-table>
                        <div class=" callout text-center" [hidden]="isLoading" *ngIf="!hasPaidInvoices">
                            <div class="woo-woo">Woot Woot!</div>
                            <p>There are no Invoices.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row chart-margin" *ngIf="showDetailedChart">
        <div class="column medium-12 expanded charts-main">
            <div style="min-width: 300px;height: calc(100vh - 150px);">
                <high-chart #hChart4=highChart [options]="detailedReportChartOptions"></high-chart>
            </div>
        </div>
    </div>
</div>


<div class="report-wrapper journal-flyout">
  <div class="sidenav customization-panel" [ngClass]="historyFlyoutCSS" foundation>
    <div class="row collapse dimension-flyout">
      <div class="small-12 medium-12 small-centered column">
        <!--<h5>Invoice History</h5>-->
        <div style="margin:20px 0 30px 0">
          <div *ngIf="historyList.length>0">
            <div class="row rdCircles" *ngFor="let history of historyList; let last=last;">
              <div class="column medium-1" style="padding-left: 55px">
                <div class="dec1" [style.border]="history.color"></div>
                <div class="dec2"></div>
                <div class="dec1" *ngIf="last? true:false;" [style.border]="history.color"></div>
              </div>
              <div class="column medium-11" style="padding-left:0px">
                <div class="row rdCredits">
                  <div class="column medium-12">
                    <div class="row creditInfo">
                      <div class="column medium-6 text-left">{{history.action}}</div>
                      <div class="column medium-6 text-right" style="font-size: 0.85em">{{history.action_at}}</div>
                    </div>
                  </div>
                    <div class="column medium-12 rdDescription">
                        <div class="row credit-desc" *ngIf="history.action!='Partially paid'||history.action!='Paid'">
                            <div class="column medium-10">{{history.email_to}}</div>
                        </div>
                        <div class="row credit-desc" *ngIf="history.action=='Partially paid'||history.action=='Paid'">
                            <div class="column medium-10">Paid Amount: {{formatAmount(history.amount_paid)}}</div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="historyList.length==0" class="text-center">History is not available.</div>
        </div>
      </div>
    </div>
  </div>
</div>

