<form>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <ul foundation class="accordion" data-accordion data-allow-all-closed="true">
                <li data-accordion-item class="accordion-item is-active">
                    <a class="accordion-title">General Settings</a>
                    <div class="accordion-content" data-tab-content>

                    </div>
                </li>
                <li data-accordion-item class="accordion-item">
                    <a class="accordion-title">Invoice Settings</a>
                    <div class="accordion-content" data-tab-content>

                    </div>
                </li>
                <li data-accordion-item class="accordion-item">
                    <a class="accordion-title">Column Settings</a>
                    <div class="accordion-content" data-tab-content>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <button class="button small" type="submit">Submit</button>
        </div>
    </div>
</form>

