<div class="row foundation">
    <div class="column large-12 medium-12 small-12">
        <div class="row add-share-buttons add-share-adjust">
            <div class="column medium-12 text-right">
        <span class="footable-download">
          <i class="icon ion-ios-cloud-download-outline" data-toggle="export-dropdown"></i>
          <div class="dropdown-pane bottom export-dropdown" id="export-dropdown" data-dropdown data-hover="true" data-hover-pane="true" foundation >
            <div (click)="exportToExcel()" class="export-option pointer">Export To Excel</div>
            <div (click)="exportToPDF()" class="export-option pointer">Export To PDF</div>
          </div>
        </span>
            </div>
        </div>
        <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasItemCodes" [data]="tableData" [options]="tableOptions" (onRowClick)="handleAction($event)"></foo-table>
    </div>
</div>





