<form [formGroup]="invoicePaymentForm">
    <div class="row">
        <div class="medium-6 columns">
            <div class="row">
                <div class="medium-12 columns">
                    <label>
                        <div class="payment-tabs">
                            <input type="button" class="button" [ngClass]="{'hollow grey': type!='Check', 'sky-blue-button': type=='Check'}" value="Check" (click)="setType('Check')"/>
                            <input type="button" class="button" [ngClass]="{'hollow grey': type!='Cash', 'sky-blue-button': type=='Cash'}" value="Cash" (click)="setType('Cash')"/>
                            <input type="button" class="button" [ngClass]="{'hollow grey': type!='Card', 'sky-blue-button': type=='Card'}" value="Credit/Debit" (click)="setType('Card')"/>
                            <input type="button" class="button" [ngClass]="{'hollow grey': type!='Paypal', 'sky-blue-button': type=='Paypal'}" value="PayPal" (click)="setType('Paypal')"/>
                            <input type="button" class="button" [ngClass]="{'hollow grey': type!='Other', 'sky-blue-button': type=='Other'}" value="Other" (click)="setType('Other')"/>
                        </div>
                    </label>
                    <input style="visibility: hidden" type="input" formControlName="type"/>
                </div>
            </div>
            <div class="row">
                <div class="medium-9 columns">
                    <label>
                        Received From
                        <select formControlName="receivedFrom" (change)="setCustomerName()">
                            <option *ngFor="let customer of customers" [value]="customer.customer_id">{{customer.customer_name}}</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>
                        Collection Amount
                        <input type="text" [readonly]="paymentId" formControlName="paymentAmount" numeral [locale]="currentLocale" [format]="'$0,0.00'"/>
                    </label>
                </div>
                <div class="medium-3 columns">
                    <label>
                        Currency
                        <select formControlName="currencyCode" (change)="setLocale()">
                            <option [value]="'USD'" selected>USD</option>
                            <option [value]="'INR'">INR</option>
                            <option [value]="'IDR'">IDR</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>
                        Reference Number
                        <input type="text" formControlName="referenceNo"/>
                    </label>
                </div>
                <div class="medium-3 columns">
                    <label>
                        Collection Date
                        <input type="text" formControlName="paymentDate" invoice-custom-datepicker [format]="dateFormat" [mindate]="'past'" (valueChanged)="setPaymentDate($event)" placeholder="Date*"/>
                    </label>
                </div>
                <div class="medium-3 columns">
                    <i class="ion ion-android-calendar" style="color:#4554A4;position: relative;top:27px;left:-10px;font-size: 2rem;"></i>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>
                        Memo
                        <input type="text" formControlName="memo"/>
                    </label>
                </div>

            </div>
        </div>
        <div class="medium-6 columns">
            <div class="row" style="margin-top:20px;">
                <div class="medium-4 columns">
                    <input type="button" class="button large" [disabled]="!invoicePaymentForm.valid" (click)="save()" value="Save Collection"/>
                </div>
                <div class="medium-4 columns">
                    <input type="button" class="button large clear" (click)="invoicePaymentForm.reset()" value="Cancel"/>
                </div>
            </div>
            <div class="row">
                <div class="medium-8 columns">
                    <label>Deposit Into Bank
                        <select formControlName="depositedTo">
                            <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-8 columns">
                    <label>Collection Note (only you can see these)
                    <textarea style="height: 120px;" placeholder="Add collection details here to help you
remember them later…" formControlName="paymentNote">

                   </textarea>
                    </label>
                </div>
            </div>
        </div>

    </div>
</form>

<div class="row" *ngIf="invoicePaymentForm.controls.receivedFrom.value">
    <div class="medium-12 columns">
        <h5 style="margin-bottom: 0px;">Invoices - {{currentClientName}}</h5>
        <span style="color: #878787">Outstanding balance: {{getOutstandingBalance()}}</span>
        <span class="float-right">
            <span style="margin-right:20px;color:#4554A4;font-weight: bold">{{getAppliedText()}}</span>
            <span class="pointer" (click)="gotoInvoice()">
                  <i class=" icon ion-ios-plus-outline"></i>
                  <span>Invoice</span>
            </span>
        </span>
        <table style="margin-top: 15px;">
            <thead>
            <tr>
                <th><span><input type="checkbox" (change)="onSelectAll($event)" style="margin-bottom:0px;margin-top: 5px;"></span></th>
                <th>Invoice</th>
                <th>Invoice Date</th>
                <th>Due Date/Status</th>
                <th>Amount</th>
                <th>Due Amount</th>
                <th>Apply Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentLine of paymentLines;let i=index">
                <td><input type="checkbox" [(ngModel)]="paymentLine.isSelected" (change)="onPaymentChange($event,i)" style="margin-bottom:0px;margin-top: 5px;"></td>
                <td>
                    <div (click)="navigateToInvoice(paymentLine)" style="cursor: pointer">{{paymentLine.invoiceNumber}}</div>
                </td>
                <td>{{getFormattedDate(paymentLine.invoiceDate)}}</td>
                <td>
                    <div>{{getFormattedDate(paymentLine.invoiceDueDate) || "-"}}</div>
                    <div><small>{{paymentLine.displayState || "-"}}</small></div>
                </td>
                <td>{{numeralService.format('$0,0.00', paymentLine.invoiceAmount)}}</td>
                <td>{{numeralService.format('$0,0.00', paymentLine.amountDue)}}</td>
                <td><input type="text" [readonly]="paymentLine.amountDue == 0" [(ngModel)]="paymentLine.amount" numeral [locale]="currentLocale" [format]="'$0,0.00'"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>