<div foundation>
    <div>
        <div class="new-invoice row" foundation>
            <div class="column small-12 medium-12 large-12 qount-form-backgorund">
                <div class="qount-off-canvas-menu chart-of-accounts">
                    <div class="flyout expanded" [ngClass]="{'expanded':true}" style="left: 30px;">
                        <section class="flyout-placeholder">
                            <div class="flyout-body flyout-shadow-effect" *ngIf="hasInvoice">
                                <section class="form-section clearfix">
                                    <div class="small-12 medium-6 columns" style="margin-bottom: 2rem;margin-left: 3rem" >
                                        <invoicePaymentPreview [invoices]="invoiceData"></invoicePaymentPreview>
                                    </div>
                                    <div class="small-12 medium-3 columns" style="margin-left: 3rem;">
                                        <div class="row">
                                            <div class="small-12 medium-12 columns" style="padding: 0;color: #4b4b9e;font-size: 14px;font-weight: 600;height: 25px;">
                                                <button (click)="printInvoice()" class="button small" style="padding: 0;height: 20px;background-color: white !important;color: #4b4b9e;font-size: 14px;height: 25px;">Print</button>
                                            </div>
                                            <div class="small-12 medium-12 columns" style="padding: 0;color: #4b4b9e;font-size: 14px;font-weight: 600;">
                                                <button (click)="downloadInvoice()" class="button small" style="padding: 0;height: 20px;background-color: white !important;color: #4b4b9e;font-size: 14px;">Download PDF</button>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="!isPaid">
                                            <div class="small-12 medium-12 columns" style="padding: 0;color: #4b4b9e;font-size: 14px;font-weight: 600;height: 25px;">
                                                <span  class="button small" style="padding: 0;height: 20px;background-color: white !important;color: #4b4b9e;font-size: 14px;height: 25px;">Pay Invoice</span>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="!isPaid">
                                            <!--<div class="column medium-6" (click)="showForm('credit')"><button class="button hollow grey">Credit</button></div>
                                            <div class="column medium-6" (click)="showForm('bank')"><button class="button hollow grey">Bank Account</button></div>-->
                                            <input type="button" class="button" [ngClass]="{'hollow grey': type!='credit', 'sky-blue-button': type=='credit'}" value="Credit Card" style="width: 8.8rem;" (click)="setType('credit')"/>
                                            <input type="button" class="button" [ngClass]="{'hollow grey': type!='bank', 'sky-blue-button': type=='bank'}" value="Bank Account" (click)="setType('bank')" style="margin-left: 0.7rem;width: 8.7rem;"/>
                                        </div>
                                        <div *ngIf="isCreditForm">
                                            <div class="row" *ngIf="!isPaid">
                                                <div class="small-12 medium-12 columns" style="padding: 0px;">
                                                    <div class="input-group">
                                                        <i class="icon ion-ios-person-outline input-group-label" style="background: #fff;"></i>
                                                        <input class="input-group-field" [(ngModel)]="card_owner_name" type="text" placeholder="Name on Card">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="!isPaid">
                                                <div class="small-12 medium-12 columns" style="padding: 0px;">
                                                    <div class="input-group">
                                                        <i class="icon fa fa-credit-card input-group-label" style="background: #fff;"></i>
                                                        <input class="input-group-field" [(ngModel)]="card_number" type="text" placeholder="Card Number">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="!isPaid">
                                                <div class="small-12 medium-3 columns" style="padding: 0px;">
                                                    <select [(ngModel)]="card_exp_month">
                                                        <option value="" selected>mm</option>
                                                        <option value="{{month}}" *ngFor="let month of months">{{month}}</option>
                                                    </select>
                                                </div>
                                                <div class="small-12 medium-4 columns">
                                                    <select [(ngModel)]="card_exp_year">
                                                        <option value="" selected>YYYY</option>
                                                        <option value="{{year}}" *ngFor="let year of years">{{year}}</option>
                                                    </select>
                                                </div>
                                                <div class="small-12 medium-5 columns" style="padding: 0px;">
                                                    <div class="input-group">
                                                        <i class="icon ion-ios-locked-outline input-group-label" style="background: #fff;"></i>
                                                        <input class="input-group-field" [(ngModel)]="csc" type="text" placeholder="CVV">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="!isCreditForm&&!isPaid">
                                            <div class="row">
                                                <div class="column medium-12" style="padding: 0px"><input type="text" placeholder="First Name*" [(ngModel)]="bank.bank_account_holder_first_name"/></div>
                                            </div>
                                            <div class="row">
                                                <div class="column medium-12" style="padding: 0px"><input type="text" placeholder="Last Name*" [(ngModel)]="bank.bank_account_holder_last_name"/></div>
                                            </div>
                                            <div class="row">
                                                <div class="column medium-12" style="padding: 0px"><input type="text" placeholder="Account Number*" [(ngModel)]="bank.bank_account_number"/></div>
                                            </div>
                                            <div class="row">
                                                <div class="column medium-12" style="padding: 0px"><input type="text" placeholder="Routing Number*" [(ngModel)]="bank.bank_routing_number"/></div>
                                            </div>
                                            <!--<div class="row">
                                                <div class="column medium-12" style="padding: 0px"><input type="text" placeholder="Account Type*" [(ngModel)]="bank.account_type"/></div>
                                            </div>-->
                                            <div class="row">
                                                <div class="column medium-12" style="padding: 0px">
                                                    <select data-placeholder="Select" [(ngModel)]="bank.bank_account_type">
                                                        <option value="" selected>Selected Account Type</option>
                                                        <option value="savings">Saving</option>
                                                        <option value="checking">Checking</option>
                                                        <!--<option *ngFor="let type of accountType" [value]="type.value">{{type.name}}</option>-->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="row">
                                            <div class="small-12 medium-12 columns">
                                                <label style="text-align: left;">Card Owner Number
                                                    <input type="text" [(ngModel)]="card_owner_name"/>
                                                </label>
                                            </div>
                                        </div>-->
                                        <div class="row" *ngIf="!isPaid&&isCreditForm">
                                            <button class="button small" [disabled]="!checkValidation()" (click)="saveCard()" style="width: 140px;height: 44px;background: #4b4b9e;color: white;font-size: 14px;">
                                                Pay {{invoiceData.amount_due| currency:companyCurrency:true:'1.2-2'}}
                                            </button>
                                        </div>
                                        <div class="row" *ngIf="!isPaid&&!isCreditForm">
                                            <button class="button small" [disabled]="!checkBankValidation()" (click)="saveCard()" style="width: 140px;height: 44px;background: #4b4b9e;color: white;font-size: 14px;">
                                                Pay {{invoiceData.amount_due| currency:companyCurrency:true:'1.2-2'}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="small-12 medium-3 columns"></div>
                                </section>
                            </div>
                            <div class=" callout text-center" *ngIf="!hasInvoice">
                                <div class="woo-woo">Woot Woot!</div>
                                <p>Invoice is deleted.</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="reveal tiny bill-modal-container" id="creditcard-details-conformation" data-reveal foundation  data-close-on-click="false">
        <div class="row">
            <div class="small-12 medium-12 columns">
                <label style="text-align: left;">Select Payment
                    <select [(ngModel)]="paymentCard">
                        <option value="{{card}}" *ngFor="let card of cards">{{card}}</option>
                        <option value="newCard">New Card</option>
                    </select>
                </label>
            </div>
        </div>
        <div *ngIf="paymentCard=='newCard'">
            <div class="row">
                <div class="small-12 medium-12 columns">
                    <label style="text-align: left;">Card Number
                        <input type="text" [(ngModel)]="card_number"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <label style="text-align: left;">Exp.Month
                        <select [(ngModel)]="card_exp_month">
                            <option value="{{month}}" *ngFor="let month of months">{{month}}</option>
                        </select>
                    </label>
                </div>
                <div class="small-12 medium-5 columns">
                    <label style="text-align: left;">Exp.Year
                        <select [(ngModel)]="card_exp_year">
                            <option value="{{year}}" *ngFor="let year of years">{{year}}</option>
                        </select>
                    </label>
                </div>
                <div class="small-12 medium-3 columns">
                    <label style="text-align: left;">CVV
                        <input type="text" [(ngModel)]="csc" placeholder="CVV" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-12 columns">
                    <label style="text-align: left;">Card Owner Number
                        <input type="text" [(ngModel)]="card_owner_name"/>
                    </label>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="button small" [disabled]="!checkValidation()" (click)="saveCard()">Submit</button>
            <button class="button small" (click)="closeCreditCardFlyout()">Cancel</button>
        </div>
    </div>
</div>