
<div class="row" foundation>
    <div class="column small-12 medium-6">
        <h5>Item Codes</h5>
    </div>
    <div class="columns small-6 small-offset-6 right">

    </div>
</div>
<div class="row chart-of-accounts" foundation>
    <div class="column large-12 medium-12 small-12 foo-container">
        <div class="foo-toolbar">
            <button class="button small" (click)="showAddItemCode()"><i class="icon ion-plus-round"></i> Item code</button>
        </div>
        <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasItemCodes" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
    </div>

    <div class="qount-off-canvas-menu">
        <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
            <section class="flyout-placeholder">
                <header class="flyout-header">
                    <h6> {{editMode ? "Update Item code" : "Create Item code"}}</h6>
                </header>
                <div class="flyout-body flyout-shadow-effect">
                    <!--here comes actual flyout code-->
                    <div id="addItemcode" #addItemcode class="create-vendor">
                        <form *ngIf="showFlyout" (ngSubmit)="submit($event)" [formGroup]="itemcodeForm">

                            <section class="form-section clearfix">
                                <div class="row">
                                    <div class="small-12 medium-12 columns">
                                        <div class="form-section-left">
                                            <header class="form-section-header">Basic Info</header>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Name</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <input type="text" formControlName="name" placeholder="Name*"/>
                                                    <div class="error" [hidden]="itemcodeForm.controls.name.untouched || itemcodeForm.controls.name.valid">Name is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Description</label>
                                                </div>
                                                <div class="small-6 columns">
                                                    <textarea formControlName="desc" rows="3" placeholder="Description"></textarea>
                                                    <div class="error" [hidden]="itemcodeForm.controls.desc.untouched || itemcodeForm.controls.desc.valid">Description is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Payment COA</label>
                                                </div>
                                                <div class="small-6 columns custom-qount-form-field">
                                                    <select combo-box #paymentCOAComboBoxDir="comboBox" data-placeholder="Enter Payment COA" formControlName="payment_coa_mapping" [listObject]="paymentChartOfAccounts" (valueChanged)="updatePaymentCOA($event)">
                                                        <option *ngFor="let chartOfAccount of paymentChartOfAccounts" [value]="chartOfAccount.name">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                                                    </select>{{chartOfAccount}}
                                                    <div class="error" [hidden]="itemcodeForm.controls.payment_coa_mapping.untouched || itemcodeForm.controls.payment_coa_mapping.valid">Payment COA is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Invoice COA</label>
                                                </div>
                                                <div class="small-6 columns custom-qount-form-field">
                                                    <select combo-box #invoiceCOAComboBoxDir="comboBox" data-placeholder="Enter Invoice COA" formControlName="invoice_coa_mapping" [listObject]="invoiceChartOfAccounts" (valueChanged)="updateInvoiceCOA($event)">
                                                        <option *ngFor="let chartOfAccount of invoiceChartOfAccounts" [value]="chartOfAccount.name">{{chartOfAccount.number}} - {{chartOfAccount.name}}</option>
                                                    </select>
                                                    <div class="error" [hidden]="itemcodeForm.controls.invoice_coa_mapping.untouched || itemcodeForm.controls.invoice_coa_mapping.valid">Invoice COA is required.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Unit Price</label>
                                                </div>
                                                <div class="small-6 columns custom-qount-form-field">
                                                    <input type="text" formControlName="purchase_price" placeholder="Unit Price" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                                                    <div class="error" [hidden]="itemcodeForm.controls.purchase_price.untouched || itemcodeForm.controls.purchase_price.valid">Unit price is required.</div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:-16px;">
                                                <div class="small-4 columns">
                                                    <label class="text-right">Sales Price</label>
                                                </div>
                                                <div class="small-6 columns custom-qount-form-field">
                                                    <input type="text" formControlName="sales_price" placeholder="Sales Price" numeral [format]="'$0,0.00'" [locale]="companyCurrency"/>
                                                    <div class="error" [hidden]="itemcodeForm.controls.sales_price.untouched || itemcodeForm.controls.sales_price.valid">Unit price is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-12 medium-12 columns">
                                        <button class="button small float-right" [disabled]="!isValid(itemcodeForm)" (click)="submit($event)">Save</button>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
                <button class="close-flyout" aria-label="Close modal" type="button" (click)="hideFlyout()">
                <span aria-hidden="true">
                  <i class="ion-ios-close-empty"></i>
                </span>
                </button>
            </section>
        </div>
    </div>
</div>
